#navigationBar {
    background-color: #004D40;
}

.font-josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
}

#navigationBar .font-josefin-sans {
    padding-bottom: 1pt;
}

#navigationBar .font-josefin-sans img {
    height: 1em;
    margin-bottom: 5pt;
}

#clockDisplay {
    background-color: #F9E79F;
    text-align: center;
}