<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}ICMC{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- <link rel="icon" type="image/png" href="{# static 'icmc-logo.png' #}" /> -->
</head>

<body>
    <div class="d-flex flex-column vh-100 pt-5">
        <header>
            {% block navbar %}
            {% include "navbar.html" %}
            {% endblock %}
        </header>

        <main class="container-lg flex-grow-1 mt-4 pb-3">
            {% block main %}{% endblock %}
        </main>

        <footer>
            {% block footer %}
            {% include "footer.html" %}
            {% endblock %}
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>
</body>

</html>