<nav id="navigationBar" class="fixed-top navbar navbar-expand-lg navbar-dark">
    <div class="container-lg">
        <a class="navbar-brand font-josefin-sans" href="{% url 'index' %}">
            {% load static %}
            <!-- <img src="{# static 'icmc-logo-colour-opaque.svg' #}" alt="ICMC logo"/> -->
            <span>{% block navbar_brand %}ICMC{% endblock %}</sp>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% block navbar_nav %}
            {% endblock %}

            {% if user.is_authenticated %}

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="navbar-text">
                    (Logged in as: {{ user.first_name }} {{ user.last_name }})
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
            </ul>

            {% else %}

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                </li>
            </ul>

            {% endif %}
        </div>
    </div>
</nav>